.footer {
    width: 100%;
    height: 300px;

    background-color: #c2cff0;

    display: grid;
    grid-template-areas: "creator course";

    h1 {
        color: black;
    }

    .creator {
        grid-area: creator;

        display: flex;
        flex-direction: column;
        gap: 20px;

        margin: 0 auto;
        margin-top: 20px;

        > div {
            display: flex;
            gap: 10px;

            > div {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .name {
                    font-size: 14pt;
                    font-weight: 600;
                }

                .item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 5px;
                }

                img {
                    overflow: hidden;

                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
        }
    }

    .course {
        grid-area: course;

        display: flex;
        flex-direction: column;

        margin: auto auto;

        img {
            width: 200px;
        }

        span {
            font-size: 14pt;
            font-weight: 500;
            margin: 5px 0;
        }
    }

    .images {
        grid-area: images;
    }
}
