.header {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: 100% auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    color: white;

    .name {
        position: relative;
        left: 80px;
        top: 30px;
        font-size: 25pt;
        font-weight: 700;

        user-select: none;

        &:hover {
            cursor: pointer;
        }
    }

    .bars {
        position: relative;
        top: 30px;
        right: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        font-size: 14pt;
        font-weight: 500;

        user-select: none;

        > a {
            color: white;
            text-decoration: none;
        }

        div {
            padding: 0 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .intro {
        position: absolute;
        top: 120px;
        right: 50px;
        display: flex;
        flex-direction: column;

        text-align: right;

        font-size: 30pt;
        font-weight: 400;

        user-select: none;
    }
}

.focus {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        height: 4px;
        border-radius: 1000px;
        -webkit-border-radius: 1000px;
        -moz-border-radius: 1000px;
        -ms-border-radius: 1000px;
        -o-border-radius: 1000px;

        background-color: #ffa200;
    }
}
