.button {
    width: 100%;
    height: 50px;
    border: 0 solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    font-size: 16px;
    font-weight: 700;
    color: white;

    background-color: #ff7100;

    user-select: none;

    &:hover {
        cursor: pointer;
        background-color: rgba(255, 113, 0, 0.7);
    }

    &[disabled] {
        background-color: rgba(255, 113, 0, 0.3);
        cursor: not-allowed !important;
    }
}
