.register {
    position: relative;
    top: -144px;
    width: 80%;
    min-width: 1000px;
    display: grid;
    grid-template-columns: 40% 60%;

    margin-left: auto;
    margin-right: auto;

    & :first-child {
        overflow: hidden;

        img {
            height: 800px;
        }
    }

    .form {
        width: 100%;
        background-color: #fff8e1;

        display: flex;
        align-items: center;
        justify-content: center;

        > div:not(.message) {
            height: 90%;
            width: 90%;

            header {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;

                & :first-child {
                    font-size: 16px;
                    font-weight: 300;
                }

                & :last-child {
                    font-size: 30px;
                    font-weight: 700;
                }
            }

            footer {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                a {
                    font-size: 16px;
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color: blue;
                    }
                }
            }
        }

        .message {
            position: absolute;
            bottom: 20px;

            font-weight: bold;
        }
    }
}
