.container {
    margin-bottom: 30px;
    .division {
        height: 50px;
        display: flex;
        align-items: center;

        background-image: linear-gradient(to right, #ffedb3, transparent);

        margin: 0 calc(1000px - 100vw);
        padding: 0 calc(100vw - 1000px);

        > span {
            color: #ff7100;
            font-size: 16pt;
            font-weight: 500;
            user-select: none;
        }
    }
}
