.container {
    width: 100%;
    border-bottom: 1px solid lightgrey;

    margin-top: 30px;

    > div {
        position: relative;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 5px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 100px;

        > div {
            font-size: 16pt;
            font-weight: 500;
            color: grey;

            user-select: none;

            &:hover {
                cursor: pointer;
            }
        }

        .indicator {
            position: absolute;
            bottom: -2px;
            height: 4px;
            width: 10px;

            border-radius: 1000px;
            -webkit-border-radius: 1000px;
            -moz-border-radius: 1000px;
            -ms-border-radius: 1000px;
            -o-border-radius: 1000px;

            transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
            -webkit-transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
            -moz-transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
            -ms-transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
            -o-transition: left 0.2s ease-in-out, width 0.2s ease-in-out;

            background-color: #ff7100;
        }
    }
}
